<div class="textarea {{modifiers}}">
    <label class="textarea__label" for="{{id}}">{{label}}</label>
    <div class="textarea__control">
        <textarea class="textarea__input" name="{{name}}" placeholder="{{placeholder}}" id="{{id}}">{{value}}</textarea>
        <div class="textarea__notice">{{helpText}}</div>
    </div>
</div>